
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<!-- banner -->
<div class="banner banner10">
    <div class="container">
        <h2>About Us</h2>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="~/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- team -->
<div class="team">
    <div class="container">
        <h3>Meet Our Team</h3>
        <div class="wthree_team_grids">
            <div class="col-md-3 wthree_team_grid">
                <a href="https://www.facebook.com/hafiz.usama.14"><img src="~/images/usama.jpg" alt=" " class="img-responsive" /></a>
                <h4>Hafiz Usama</h4>
           
            </div>
            <div class="col-md-3 wthree_team_grid">
                <a href="https://www.facebook.com/Ali.Safian.33"><img src="~/images/ali.jpg" alt=" " class="img-responsive" /></a>
                <h4>Ali Safian</h4>               
            </div>
            <div class="col-md-3 wthree_team_grid">
                <a href="https://www.facebook.com/shahid.kanwal.96"><img src="~/images/kanwal.jpg" alt=" " class="img-responsive" /></a>
                <h4>Shahid Kanwal</h4>
                
            </div>
            <div class="col-md-3 wthree_team_grid">
                <a href="https://www.facebook.com/profile.php?id=100008614756927"><img src="~/images/sulman.jpg" alt=" " class="img-responsive" /></a>
                <h4>Muhammad Sulman</h4>
                
            </div>
            <div class="clearfix"> </div>
      
        </div>
    </div>
</div>
<!-- //team -->


